._1BzN8sEG7aGiKPm2UX5NlB{margin:12px;border:1px #e5e5e5 solid}._1BzN8sEG7aGiKPm2UX5NlB svg{height:5rem;display:block;margin:auto}._1BzN8sEG7aGiKPm2UX5NlB ._2e5ks03aq5SY5xWrc_6O_s{font-weight:500}

._32kWtNia_N1ZNegQ4IjP8a{margin:0 !important}._32kWtNia_N1ZNegQ4IjP8a ._28SHcqyzGxLYozsdXgh9ti{display:inline-block;width:1rem;height:1rem;margin:2px}._32kWtNia_N1ZNegQ4IjP8a ._28SHcqyzGxLYozsdXgh9ti._3TAgkk2LGVtBVMCLiF_2Ck{border:2px #222 solid;margin:0}

